{% extends 'flatpages/default.html' %}
{% block content %}
    <h5 class="title_1"> User: {{ request.user.username }}, 
        ID={{ request.user.id }}, 
        Ваших отчетов в базe: {{ taxes.count }} </h5>
    
    {% if taxes %}
        <form class="search-doc" method="GET">
            {{ filter.form }}
            <div class="d-grid gap-3 col-3 btn-wrapper">
                <input type="submit" class="btn" value="Сформировать отчет">
            </div>   
        </form>
        <table class="table_blur">
            <thead>
                <tr>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Дата выплаты</th>
                    <th scope="col">Начислено</th>
                    <th scope="col">Соц.вычет</th>
                    <th scope="col">Коэф. ал.</th>
                    <th scope="col">Алименты</th>
                    <th scope="col">НДФЛ</th>
                    <th scope="col">Выплачено</th>
                    <th scope="col">Единый налог</th>
                    <th scope="col">Страх. от НС</th>
                    <th scope="col">Дополнения</th>
                </tr>
            </thead>
            <tbody>
                
                {% for accruals_and_taxes in taxes %}  <!--in documents filter.qs%} -->
                    <tr>
                        <th scope="row"><a href="{% url 'charges' accruals_and_taxes.id %}" class="link-dark">
                            {{ accruals_and_taxes.worker|truncatechars:12 }}</a></th>  
                        <th scope="row">{{ accruals_and_taxes.payment_date }}</th>
                        <th scope="row">{{ accruals_and_taxes.accrued }}</th>
                        <th scope="row">{{ accruals_and_taxes.social_deductions }}</th>
                        <th scope="row">{{ accruals_and_taxes.alimony }}</th>
                        <th scope="row">{{ accruals_and_taxes.alimony_tax }}</th>
                        <th scope="row">{{ accruals_and_taxes.income_tax }}</th>
                        <th scope="row">{{ accruals_and_taxes.salary }}</th>
                        <th scope="row">{{ accruals_and_taxes.single_tax }}</th>
                        <th scope="row">{{ accruals_and_taxes.injury_insurance }}</th>
                        <th scope="row">{{ accruals_and_taxes.description|truncatechars:12 }}</th>
                        <!-- <th scope="row"></th> -->
                    </tr>
                    
                     {% endfor %}
                
                    
                    <tr>
                         <th scope="col"></th>
                         <th scope="col"></th> 
                         <th>{% for accruals_and_taxes in taxes %}
                                                   {{ accruals_and_taxes.accrued }} {% endfor %}</th>
                         <th scope="col">{{ accruals_and_taxes.t_sum }}</th> 
                         <th scope="col"></th>
                         <th scope="col"></th>
                         <th scope="col"></th>
                         <th scope="col"></th>
                         <th scope="col"></th>
                         <th scope="col"></th>
                         <th scope="col"></th>
                    </tr>
        
            </tbody>
        </table> 
        <!-- <QuerySet [<Accruals_and_taxes: 20000.0>, <Accruals_and_taxes: 10000.0>, <Accruals_and_taxes: 10000.0>]> -->
    {% else %}
        <h2 class="doc-none">У Вас пока нет отчетов!</h2>
    {% endif %}
    <p></p>
{% endblock content %}