{% extends 'flatpages/default.html' %}
{% block title %}
    Сотрудники
{% endblock title %}
{% block content %}
    <h5 class="title_1"> User: {{ request.user.username }}, 
        ID={{ request.user.id }}, 
        Ваших сотрудников в базe: {{ paginator.count }} </h5>

    {% if staff %}
        <!-- Перед таблицей добавим форму для поиска -->
        <!-- <h4 class="title_2">Поиск</h4> -->
        <form class="search-doc" method="GET">
            {{ filter.form }}
            <div class="d-grid gap-3 col-3 btn-wrapper">
                <input type="submit" class="btn" value="Найти">
            </div> 
        </form>
        <table class="table_blur">
            <thead>
                <tr>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">ИНН</th>
                    <th scope="col">Должность</th>
                    <th scope="col">К-во детей</th>
                    <th scope="col">Дополнения</th>
                </tr>
            </thead>
            <tbody>
                {% for staff in staff %}  <!--in documents filter.qs%} -->
                    <tr>
                        <th scope="row"><a href="{% url 'worker' staff.id %}" class="link-dark">
                                {{ staff.surname|truncatechars:7 }}</a></th>  
                        <th scope="row">{{ staff.name|truncatechars:7 }}</th>
                        <th scope="row">{{ staff.patronimic|truncatechars:7 }}</th>
                        <th scope="row">{{ staff.ITN }}</th>
                        <th scope="row">{{ staff.post|truncatechars:7 }}</th>
                        <th scope="row">{{ staff.dependents }}</th>
                        <th scope="row">{{ staff.description|truncatechars:10 }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 class="doc-none">У Вас пока нет сотрудников!</h2>
    {% endif %}

    
    {% if is_paginated %}
        <div class="paginat">
            <span>Страницы: </span>
                <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Начало</a>&nbsp;
                    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>&nbsp;
                {% endif %}
            
                <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a><b>{{ page_obj.number }}</b></a>&nbsp;
                    {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                        <a href="?page={{ num }}">{{ num }}</a>&nbsp;
                    {% endif %}
                {% endfor %}
            
                <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>&nbsp;
                    <a href="?page={{ page_obj.paginator.num_pages }}">Конец &raquo;</a>&nbsp;
                {% endif %}
            <span style ="color: grey;">&nbsp;&nbsp;(Показаны документы с 
                {{ page_obj.start_index }} по {{ page_obj.end_index }})</span>
        </div>
    {% endif %}
    
    <div class="btn-wrapper">
        <a class="btn" href="/create">Добавить сотрудника</a>
    </div >
{% endblock content %}
