{% extends 'flatpages/default.html' %}
<!-- {% load doc_tags %} -->
{% block content %}
<table class="table-deitail">
    <thead>
       <tr>
           <th scope="col1">Название</th>
           <th scope="col1">Тип документа</th>
           <th scope="col1">№ документа</th>
           <th scope="col1">Дата документа</th>
           </tr>
    </thead>
    <tbody>
       <tr>
        <th scope="row1">{{ document.title }}</th>  
        <th scope="row1">{{ document.category }}</th>
        <th scope="row1">{{ document.number }}</th>
        <th scope="row1">{{ document.dateCreate|date:'d M Y'}}</th>
       </tr>
    </tbody> 
</table>
<hr>
            <h3 class="fw-bold">Описание</h3>
            <p class="text-break">{{ document.textDocument }}</p>

<div class="foto"> 
       
       {% for image in document.images.all %}

       {% load thumbnail %}

       <a href="{{ image.file.url }}">
        <img src="{{ image.file|thumbnail_url:'my_preview_1' }}" class="scale">
        </a>
        
       <!-- <img src="{{ image.file|thumbnail_url:'my_preview_1' }}" class="scale"></img>  -->
       


       <!-- <a href="{{ image.file.url }}">
        <img src="{% thumbnail image.file 200x0 %}" class="image-detail">
        </a> -->
       <form action="{% url 'delete-image' image.id %}" method="POST">

           {% csrf_token %}
           <button type="submit" class="delete_button" value="main_button">
            <img src="/static/delete.png" alt="Удалить" title=" Click удалит это Фото!" width="16" height="16">
           </button>
       </form>

    {% endfor %}
</div>   
    <div class="btn-wrapper">
        <a href="{% url '_edit' document.id %}" class="btn" role="button" >Редактировать документ</a>
        <a href="{% url 'doc_delete' document.id %}" class="btn" role="button">Удалить документ</a>
    </div>  

{% endblock content %}